@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Gilroy';
}

   
   /* Add this to your global stylesheet */
@keyframes slideFromTop {
    0% {
      transform: translateY(-50px); /* Start from above */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* End at the original position */
      opacity: 1;
    }
  }
  
  .animate-img {
    animation: slideFromTop 1s ease-out forwards;
  }
  
  .delay-200 {
    animation-delay: 0.2s;
  }
  
  .delay-400 {
    animation-delay: 0.4s;
  }
  
  .delay-600 {
    animation-delay: 0.6s;
  }
  
  .delay-800 {
    animation-delay: 0.8s;
  }
  
  .delay-1000 {
    animation-delay: 1s;
  }
  
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   